<!-- START FOOTER -->
<div class="footer section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="single_footer">
					<a href="index.html"><img src="~/assets/img/nettruyen-156096.jpg" alt="Logo" width="140" height="34" style="display: block;"></a>
					<p>
						Đọc truyện online, truyện tranh, truyện chữ mới nhất được cập nhật liên tục mỗi ngày. Hỗ trợ trải nghiệm tốt nhất trên mọi thiết bị.
					</p>
					<div class="social_profile">
						<ul>
							<li><a class="f_facebook" href="#"><i class="fa-solid fa-x"></i></a></li>
							<li><a class="f_twitter" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a class="f_instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a class="f_linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-2 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>
						Về Chúng Tôi
					</h4>
					<ul>
						<li><a href="#">Giới thiệu</a></li>
						<li><a href="#">Điều khoản dịch vụ</a></li>
						<li><a href="#">Chính sách bảo mật</a></li>
						<li><a href="#">Bản quyền nội dung</a></li>
						<li><a href="#">Vấn đề gặp phải</a></li>
						<li><a href="#">Liên hệ quảng cáo</a></li>
					</ul>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-2 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>
						Thể Loại Hot
					</h4>
					<ul>
						<li><a href="#">Truyện Tiên Hiệp</a></li>
						<li><a href="#">Truyện Ngôn Tình</a></li>
						<li>
							<a href="#">
								Truyện Đô Thị
							</a>
						</li>
						<li><a href="#">Truyện Tranh (Manga)</a></li>
						<li><a href="#">Truyện Kiếm Hiệp</a></li>
						<li><a href="#"> Truyện Sắc Hiệp (18+)</a></li>
					</ul>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>Hỗ Trợ Độc Giả</h4>
					<div class="sf_contact">
						<span class="ti-map"></span>
						<p>Cộng đồng Fanpage facce book gửi qua email.. j đó</p>
					</div>
					<div class="sf_contact">
						<span class="ti-mobile"></span>
						<p>(+84) 984 391 940</p>
					</div>
					<div class="sf_contact">
						<span class="ti-mobile"></span>
						<p><a href="tel:+88457845695">Báo lỗi / Góp ý</a></p>
					</div>
					<div class="sf_contact">
						<span class="ti-email"></span>
						<p>weinmechoigame@gmail.com</p>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-2 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>
						Tải Ứng Dụng
					</h4>
					<p>Tải ngay ứng dụng đọc truyện để có trải nghiệm mượt mà, không quảng cáo và tiết kiệm dữ liệu.</p>
					<a href="index.html"><img src="~/assets/img/google-play.jpg" class="foot_img" alt=""></a>
					<a href="index.html"><img src="~/assets/img/app-store.jpg" class="foot_img" alt=""></a>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</div>
<!-- END FOOTER COPYRIGHT -->	