@model IEnumerable<web_doc_truyen_Co_ban.Models.TagModel>

<div class="d-flex flex-wrap gap-2">
    @foreach (var tag in Model)
    {
        <a href="/Story?tag=@tag.Slug" class="badge bg-secondary text-decoration-none">
            🏷️ @tag.Name
        </a>
    }
</div>