@* _SlidebarPartial.cshtml *@

<div class="col-lg-3">

    @* <div class="mb-4">
        <h5 class="mb-3">🔍 Tìm truyện</h5>
        <form asp-controller="Story" asp-action="Search" method="get">
            <div class="input-group">
                <input type="text" name="keyword" class="form-control" placeholder="Nhập tên truyện..." />
                <button class="btn btn-danger">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div> *@
    <div class="mb-4">
        <h5 class="mb-3">🏷 Thể Loại</h5>
        <vc:categories></vc:categories>
    </div>

    <div class="mb-4">
        <h5 class="mb-3">🏷 Tags</h5>
        <div class="d-flex flex-wrap gap-2">
            <vc:tags></vc:tags>
        </div>
    </div>

    TRUYỆN HOT chưa làm 
    menu  col lg 3 quảng cáo
    @*
    <div class="mb-4">
        <h5 class="mb-3">🔥 Truyện hot</h5>

        @foreach (var story in Model.HotStories)
        {
            <div class="d-flex mb-3">
                <img src="~/images/@story.ImageUrl"
                     style="width: 60px; height: 80px; object-fit: cover;"
                     class="me-2 rounded" />
                <div>
                    <a asp-controller="Story" asp-action="Detail" asp-route-slug="@story.Slug"
                       class="text-dark fw-bold">
                        @story.Title
                    </a>
                    <div class="text-muted small">
                        👁 @story.ViewCount lượt xem
                    </div>
                </div>
            </div>
        }
    </div>
    *@

</div>
