@model IEnumerable<web_doc_truyen_Co_ban.Models.CategoryModel>

@foreach (var item in Model)
{
    <li>
        <a asp-action="ListByCategory" asp-controller="Category"
               asp-route-slug="@item.Slug">
            @item.Name
        </a>
    </li>
}