@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CategoryModel>
@foreach(var item in Model)
{
    <div class="mb-4">
        <a asp-action="ListByCategory" asp-controller="Category" asp-route-Slug="@item.Slug">@item.Name</a>
    </div>
    
}
